/* This is the CSS written by Henry and Gilvir/Copied from Gilvir's HW Page
It was included externally to keep the index as clean as possible.
This isn't necessary, but makes the site look a lot cooler!
*/

/* Fonts Import (Makes it look pretty) */
@font-face {
  font-family: OpenSans-Light;
  src: url(visuals/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(visuals/OpenSans-Semibold.ttf);
}
/* Changes to everything. Changes to container are mainly for centering around the center of the page.*/
body {
  background-color: #f3f3f3;
}
div.container {
  background-color: white;
  box-shadow: 0px 0px 3px;
  border-radius: 2px;
  width: 1024px;
  max-width: 85%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 35px;
  font-family: OpenSans-Light;
}
div.container h1 , h2  {
  font-family: OpenSans-Light;
  border-bottom: 5px solid #3498db;
}
iframe {
  max-width: 95%;
}
/* Edits the data input/output*/
#data_input {
  text-transform: capitalize;
}

#data_output ul {
  display: inline-table;
}
#data_output li {
  float: left;
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}
#link {
  margin-top: 50px;
  text-align: center;
}
#link a {
  color: whitesmoke;
  text-decoration: none;
  background-color: #3498db;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  font-family: OpenSans-Semibold;
}


/*Changes the form elements to non default to make them look nicer and not from 1999*/
#form select {
  background-color : #f0f0f0;
  width: 200px;
  height: 40px;
  text-transform: capitalize;
  font-family: OpenSans-Light;
  font-size: 18px;
}

footer {
  background-color: white;
  min-width: 100%;
  margin-top: 25px !important;
  border-top: 6px solid #3498db;
  padding-bottom: 8px;
  text-align: center;

}
footer ul {
  display: inline-table;
}
footer li {
  font-family: OpenSans-Light;
  font-size: 32px;
  list-style: none;
  float: left;
  margin-right: 100px;
  display: inline-block;
}

#form input[type=submit] {
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 3px;
  border: 0px;
  height: 50px;
  width: 140px;
  background-color: #3498db;
  color: #f0f0f0;
  margin-top: 25px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: OpenSans-Light;
}

#form input[type=text] {
  font-family: OpenSans-Semibold;
  font-size: 18px;
  padding: 10px;
  border: none;
  box-shadow: none;
  border-bottom: solid 2px #3498db;
  width: 60%;
  transition: 0.3s;
}

#form input[type=text]:focus {
  outline: none;
  border-bottom-color: #2a81bc;
}


#form input[type=checkbox] {
  display: inline-block;
	width: 30px;
	height: 31px;
	margin: 10px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	background: #fff;
  cursor: pointer;
}
